.top-half{  
  text-align: center;
} 
  
.logo{
  text-align: left;
  padding-left: 25px;
  padding-top: 15px;
}

.App-link {
  color: #61dafb;
}
.shill-sub-txt{
  font-size: 30px;
  font-family: 'Lilita One', sans-serif;
  color: #f2b705; 
}
.steps{
  padding: 20px;
}

.steps div {
  background-color: #242424;
}
.step-text{
  color: #b6b6b6;  
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
 
.step-one{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #fff;
  padding:20px;
  border-radius: 15px;
}
 
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 170px;
  height: 40px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.button-85-no-animation {
  padding: 0.6em 2em;
  border: 1px solid #46bf5b;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 170px;
  height: 40px;
}


.shillionaire{
  height:250px;
}

.loading{
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  right: 12px;
  top: 9px;
}